EXPO_PUBLIC_SUPABASE_URL=https://vngfqxcdvguelmbxxxxxxxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_iEw9THdxxxxxxx-R7YZRVf7xW8JNw_6Guq33cy
NEXT_PUBLIC_SUPABASE_URL=https://vngfqxcdvguelmbxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_iEw9THdxxxxxxx-R7YZRVf7xW8JNw_6Guq33cy
SUPABASE_PROJECT_ID=vngfqxcdvguelmbxxxxxxxx

SUPABASE_DB_PASSWORD=xxx@xxxx
SUPABASE_DB_URL=postgres://postgres:[Password]@db.vngfqxcdvguelmbxxxxxxxx.supabase.co:5432/postgres

